<footer>

    <p class="copyright">
        &copy; {{ "now" | date: "%Y" }} {{ site.title }}
    </p>

    <span class="social-links">

        <span
            class="tooltip"
            style="margin: 0px 10px;">
            <a
                class="icon"
                href="https://github.com/SgtSwagrid"
                target="_blank"
                rel="noopener">
                {% include svg/github.svg %}
            </a>
            <span class="tooltipcontent">GitHub</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px 10px;">
            <a
                class="icon"
                href="mailto:me@alecdorrington.com"
                target="_blank"
                rel="noopener">
                {% include svg/email.svg %}
            </a>
            <span class="tooltipcontent">Email</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px 10px;">
            <a
                class="icon"
                href="https://discord.com/users/209281469372301312"
                target="_blank"
                rel="noopener">
                {% include svg/discord.svg %}
            </a>
            <span class="tooltipcontent">Discord</span>
        </span>

    </span>

</footer>