<footer>

    <p class="copyright">
        &copy; {{ "now" | date: "%Y" }} {{ site.title }}
    </p>

    <span class="social-links">

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="https://github.com/SgtSwagrid"
                target="_blank"
                rel="noopener">
                {% include svg/github.svg %}
            </a>
            <span class="tooltipcontent">GitHub</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="/"
                target="_blank"
                rel="noopener">
                {% include svg/overleaf.svg %}
            </a>
            <span class="tooltipcontent">Overleaf</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="mailto:contact@alecdorrington.com"
                target="_blank"
                rel="noopener">
                {% include svg/email.svg %}
            </a>
            <span class="tooltipcontent">Email</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="https://www.strava.com/athletes/36362287"
                target="_blank"
                rel="noopener">
                {% include svg/strava.svg %}
            </a>
            <span class="tooltipcontent">Strava</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="https://discord.com/users/209281469372301312"
                target="_blank"
                rel="noopener">
                {% include svg/discord.svg %}
            </a>
            <span class="tooltipcontent">Discord</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="https://steamcommunity.com/id/SgtSwagrid/"
                target="_blank"
                rel="noopener">
                {% include svg/steam.svg %}
            </a>
            <span class="tooltipcontent">Steam</span>
        </span>

        <span
            class="tooltip"
            style="margin: 0px calc(var(--footer-icon-spacing)/2);">
            <a
                class="icon"
                href="/"
                target="_blank"
                rel="noopener">
                {% include svg/battlenet.svg %}
            </a>
            <span class="tooltipcontent">Battle.net</span>
        </span>

    </span>

</footer>