<header>
    <span class="logo">
        <h1 class="title"><span style="color: var(--title-emphasis)">Alec</span> Dorrington</h1>
        <h6 class="subtitle">Computer scientist and mountain enjoyer</h6>
    </span>
    <span class="navigation">
        <h6>
            <a href="{{ '/' | relative_url }}">Home</a> •
            <a href="{{ '/resume' | relative_url }}">Résumé</a> •
            <a href="{{ '/adventures' | relative_url }}">Adventures</a> •
            <a href="{{ '/posts' | relative_url }}">Posts</a>
        </h6>
    </span>
</header>