:root {
    @media (max-width: 800px) {
        --footer-height: 50px;
        --footer-padding: 10px 20px;
        --footer-icon-spacing: 20px;
    }

    @media (min-width: 801px) {
        --footer-height: 70px;
        --footer-padding: 18px 60px;
        --footer-icon-spacing: 10px;
    }
}

body > footer {

    background-color: var(--header);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    height: var(--footer-height);
    padding: var(--footer-padding);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;

    @media (max-width: 800px) {
        .copyright {
            display: none;
        }
        .social-links {
            display: flex;
            justify-content: center; 
            align-items: center;
        }
    }

    @media (min-width: 801px) {
        .copyright {
            display: inline-flex;
            font-size: 12pt;
        }
        .social-links {
            float: right;
        }
    }
}

.icon svg path {
    fill: var(--icon);
}

.icon:hover svg path {
    fill: var(--icon-hover);
}