:root {
    @media (max-width: 800px) {
        --header-height: 50px;
    }

    @media (min-width: 801px) {
        --header-height: 80px;
    }
}

body > header {

    /* Position and size */
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 101;

    /* Style */
    background-color: var(--header);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);

    .logo {

        @media (max-width: 800px) {
            display: none;
        }

        @media (min-width: 801px) {
            float: left;
            margin: 5px 0 0 60px;
        }

        .title {
            color: var(--title);
            font-size: 18pt;
            margin-bottom: 5px;
        }

        .subtitle {
            color: var(--subtitle);
            font-size: 14px;
        }
    }

    .navigation {

        @media (max-width: 800px) {
            margin-top: 10px;
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        @media (min-width: 801px) {
            margin: 22px 60px 0 0;
            float: right;
        }

        * {
            padding: none;
            margin: none;
        }

        a {

            text-decoration: none;

            &:link {
                color: var(--navbar);
            }

            &:visited {
                color: var(--navbar);
            }
            
            &:hover {
                color: var(--navbar-hover);
            }

            &:active {
                color: var(--navbar-active);
            }
        }
    }
}