@import url('colours.css');
@import url('header.css');
@import url('footer.css');
@import url('tooltip.css');
@import url('tables.css');
@import url('cards.css');
@import url('text.css');

:root {
    
    --content-max-width: 1800px;

    @media (max-width: 900px) {
        --content-vpadding: 10px;
        --content-hpadding: 10px;
    }

    @media (min-width: 901px) {
        --content-vpadding: 25px;
        --content-hpadding: 60px;
    }
}

* {
    color: var(--text);
}

body {

    background-color: var(--background);

    /* Disable global scrolling */
    overflow: hidden;

    & > main {

        /* Fill all space between the header and footer */
        width: 100dvw;
        height: 100dvh;
        padding: var(--header-height) 0 var(--footer-height) 0;

        & > .root {

            width: 100%;
            height: 100%;
            
            /* Scrollable region */
            overflow: auto;

            /* Horizontally centre contents */
            display: grid;
            justify-items: center;

            & > div {
                
                width: 100%;

                /* Match the scrollable height to the content, unless the content is shorter than the viewport */
                height: min-content;
                min-height: 100%;

                display: grid;
                place-items: center;

                /* Margins */
                padding: var(--content-vpadding) var(--content-hpadding);
                max-width: var(--content-max-width);
            }
        }
    }
}