ul {
    margin: var(--table-margin) 0;
    padding: 0 0 0 var(--table-indent);
}

li {
    margin: var(--row-margin) 0;
    padding-left: var(--row-ident);
}

li > ul {
    margin: 0;
}

li > ul > li {
    font-size: 16px;
    margin: 0;
}

:root {
    @media (max-width: 600px) {
        --table-margin: 0px;
        --table-indent: 20px;
        --row-margin: 15px;
        --row-indent: 0px;
    }

    @media (min-width: 601px) {
        --table-margin: 5px;
        --table-indent: 25px;
        --row-margin: 20px;
        --row-indent: 5px;
    }
}