h1 {
    margin: 10px 0;
    @media (max-width: 800px) {
        text-align: center;
    }
}

h2 {
    margin: 10px 0;
    @media (max-width: 800px) {
        text-align: center;
    }
}

h3 {
    margin: 10px 0;
}

h4 {
    margin: 5px 0;
}

h5 {
    margin: 5px 0;
}

h6 {
    margin: 5px 0;
}

a {

    &:link {
        text-decoration: none;
        color: var(--link);
    }

    &:visited {
        text-decoration: none;
        color: var(--link);
    }
    
    &:hover {
        text-decoration: underline;
        color: var(--link-hover);
    }

    &:active {
        text-decoration: underline;
        color: var(--link-active);
    }
}

small {
    line-height: 1.1;
}